@model ApplicationUserView
@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>

Select which Role to Add to User: @Model.User.FullName

<form asp-action="Add">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        @Html.LabelFor(m => m.Roles)
        @Html.DropDownListFor(m => m.AppRoleID, new SelectList(Model.Roles, "Id", "Name"))
        @Html.ValidationMessageFor(m => m.Roles)
    </div>

    <div class="form-group">
        <input type="hidden" asp-for="UserID" value="@Model.User.Id"/>
        <input type="submit" value="Add" class="btn btn-default" />
    </div>
</form>
