@model ApplicationUserView
@{
    ViewData["Title"] = "Index";
}

<h2>Role Managment</h2>
<br />
<table class="table" style="width:75%">
    <caption>Admins</caption>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Remove
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Admins)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NormalizedEmail)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<table class="table" style="width:75%">
    <caption>Employees</caption>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Remove
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employees)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NormalizedEmail)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table" style="width:75%">
    <caption>Organizers</caption>
    <thead>
        <tr>
            <th>
                Name
            </th>

            <th>
                Email
            </th>
            <th>
                Remove
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Organizers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NormalizedEmail)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<table class="table" style="width:75%">
    <caption>Customers</caption>
    <thead>
        <tr>
            <th>
                Name
            </th>

            <th>
                Email
            </th>
            <th>
                Add Role
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NormalizedEmail)
                </td>
                <td>
                    <a asp-action="Add" asp-route-id="@item.Id">Add Role</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
Users With No Role
<table class="table" style="width:75%">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Add Role
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UsersNoRole)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NormalizedEmail)
                </td>
                <td>
                    <a asp-action="Add" asp-route-id="@item.Id">Add Role</a>
                </td>
            </tr>
        }
    </tbody>
</table>
