@model FHM.Models.GameModel.Game
@{
    ViewData["Title"] = "GameDetails";
}

<h2>@Model.GameName</h2>

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@Model.GameImageUrl" alt="">
        <div class="caption">
            <p>@Model.GameLongDescription</p>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div>
                <a asp-controller="Game" asp-action="Delete" asp-route-id="@Model.GameID">Delete</a>
            </div>
        }
    </div>
    <a asp-action="Edit" asp-route-id="@Model.GameID">Edit</a> |
</div>
</br>