@model GameViewModel
@{
    ViewData["Title"] = "GameDetails";
}

<h2>
    @Model.Game.GameName
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Edit" asp-route-id="@Model.Game.GameID"> | Edit</a>
        <a asp-controller="Game" asp-action="Delete" asp-route-id="@Model.Game.GameID">| Delete</a>

    }
</h2>

<div class="col-sm-6 col-lg-6 col-md-6">
    <div class="thumbnail">
        <img src="@Model.Game.GameImageUrl" alt="">
        <div class="caption">
            <p>@Model.Game.GameLongDescription</p>
        </div>
    </div>

</div>
<div class="col-sm-6 col-lg-6 col-md-6">
    <h3>Formats</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Fromat Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Official Rules
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Formats)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FormatName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FormatDescription)
                    </td>
                    <td>
                        <a href="@Html.DisplayFor(modelItem => item.FormatLink)" target="_blank"> Official Format Rules</a>
                    </td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <td>
                            <a asp-controller="Formats"  asp-action="Edit" asp-route-id="@item.FormatID">Edit</a> |
                            <a asp-controller="Formats" asp-action="Details" asp-route-id="@item.FormatID">Details</a> |
                            <a asp-controller="Formats" asp-action="Delete" asp-route-id="@item.FormatID">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="col-sm-12 col-lg-12 col-md-12">
    <h3>Upcoming Events</h3>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Event
                </th>
                <th>
                    Format
                </th>
                <th>
                    Start Time
                </th>
                <th>
                    Entry Fee
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Tournaments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TournamentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TournamentFormat.FormatName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TournamentStartTime)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.TournamentFee)
                    </td>
                    <td>
                        <a asp-controller="Tournament" asp-action="Details" asp-route-id="@item.TournamentID">View/Register</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
