@model GameViewModel
@{
    ViewData["Title"] = "Index";
}

<section class="container">
  <div>    
    <div>
        <h2>
            @Model.Title
            @if (User.Identity.IsAuthenticated)
            {<a asp-area="" asp-controller="Game" asp-action="AddGame">|New Game</a>}
        </h2>
    </div>
  </div>




@foreach (var game in Model.Games)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@game.GameImageThumbnailURL" alt="">
            <div class="caption">
                <h3>
                    <a asp-controller="Game" asp-action="GameDetails" asp-route-id="@game.GameID">
                        @game.GameName
                    </a>
                </h3>
                <p>@game.GameShortDescription</p>
            </div>
        </div>
    </div>
}
</section>