@model Tournament
@{
    ViewData["Title"] = "Details";
}

<h2>Event Details</h2>
<strong>Event Name:</strong> @Model.TournamentName<br />
<strong>Game:</strong> @Model.TournamentGame.GameName<br />
<strong>Format:</strong> @Model.TournamentFormat.FormatName<br />
<strong>Entry Fee:</strong> $@Model.TournamentFee<br />
<strong>Start Time:</strong> @Model.TournamentStartTime<br />
<strong>Registered Players:</strong> @Model.Registartions.Count()<br />
<strong>Description:</strong> @Model.TournamentDescription<br />

<a asp-action="Register" asp-route-id="@Model.TournamentID" >Register</a>

@if (User.Identity.IsAuthenticated)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Player ID
                </th>
                <th>
                    Paid?
                </th>
                <th>
                    Store Credit?
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Registartions)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Player.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Player.LastName)
                </td>
                <td>
                    @foreach (var thing in item.Player.PlayerIDs)
                    {
                        if (thing.GameId == Model.GameID)
                        {
                            @Html.DisplayFor(modelItemthing => thing.PlayerGameID)
                        }

                    }
                </td>
                <td>
                    <div class="checkbox">@Html.DisplayFor(modelItem => item.Paid)</div>
                </td>
                <td>
                    <div class="checkbox">@Html.DisplayFor(modelItem => item.StoreCredit)</div>
                </td>
                <td>
                    <a asp-action="DropPlayer" asp-route-id="@item.RegID">Drop</a>
                </td>

            </tr>
            }
        </tbody>
    </table>


}


